form {
  display: flex;
  flex-direction: column;
}

p * {
  display: block;
}

.error-message {
  display:none;
}

input:invalid + .error-message {
  display: block;
  position: absolute;
  color: #990000;
  font-size: small;
}

input:invalid:focus {
  border: 2px solid #990000;
  background-color: #ffdddd;
}

input:valid:focus {
  border: 2px solid greenyellow;
  background-color: lightyellow;
}